# Kafka
KAFKA_BROKER=localhost:9092

# Elasticsearch
ES_NODE=http://localhost:9200

# SQLite
DB_PATH=./orders.db

# Service ports
ORDER_SERVICE_PORT=3001
PAYMENT_SERVICE_PORT=3002
DELIVERY_SERVICE_PORT=3003
ANALYTICS_SERVICE_PORT=3004
SEARCH_SERVICE_PORT=3005
